/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
html { background: #fff3c9; }
body { font: 14px/1.4 Georgia, serif; color: #333333; }

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }


#tabs{margin-left:auto;
margin-right:auto;
width:90%;    }

#page-wrap { width: 80%; margin: 80px auto; }

h1 { font: bold 36px Helvetica, Arail, Sans-Serif; letter-spacing: -1px; }
h1, p { margin: 0 0 20px 0; }

