.gohome{
    margin-left:10px;
    top:10px;
    position:absolute;
}
.gohome a {
    backgorund:url(image/Button_Home1.png);
    display:block; /* Necessary, since A is not a block element */
    width:78;
    height:31px;
}
.gohome a:hover {
    background:url(image/Button_Home1_d.png)
}