/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
html { background: #fff3c9; }
body { font: 14px/1.4 Georgia, serif; color: #2d2d2d; }

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

#page-wrap { width: 960px; margin: 60px auto; }

h1 { font: bold 36px Helvetica, Arail, Sans-Serif; letter-spacing: -1px; }
h1, p { margin: 0 0 20px 0; }

#rotator { width: 920px; height: 280px; position: relative; background: white; padding: 20px; }
		#block-1 { background: #d5fcff; }
		#block-2 { background: #e1ffd5; }
		#block-3 { background: #ffffd8; }
		#rotator > div { 
			position: absolute; 
			overflow: hidden;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
		}
		#rotator > div > div { 
			padding: 20px; 
		}
		#rotator > div > div img {
			float: right;
			margin: 0 0 2px 10px;
		}
		#rotator .active { top: 20px; left: 20px; width: 580px; height: 280px; }
		#rotator .non-active-top { top: 20px; left: 620px; height: 130px; width: 320px; }
		#rotator .non-active-bottom { top: 170px; left: 620px; height: 130px; width: 320px; }		
		#rotator .non-active-top:hover, #rotator .non-active-bottom:hover { 
			cursor: pointer;
			-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4); 
			-moz-box-shadow: 0 0 10px rgba(0,0,0,0.4); 
			box-shadow: 0 0 10px rgba(0,0,0,0.4); 
		}
		#rotator h2 {
			text-align: center; 
			line-height: 130px;
		}
		#rotator .active h2 {
			display: none;
		}