.gohome{
    margin-left:20px;
    position:relative;
}
.gohome a {
    background:url(image/Button_Home1.png);
    display:block; /* Necessary, since A is not a block element */
    width:78;
    height:31px;
}


.goaround{
    margin-left:20px;
    position:relative;
}
.goaround a {
    background:url(image/button_around_me.png);
    display:block; /* Necessary, since A is not a block element */
    width:215;
	height:30px;
}


.gohistory{
    margin-left:20px;
    position:relative;
}
.gohistory a {
    background:url(image/button_history.png);
    display:block; /* Necessary, since A is not a block element */
    width:215;
	height:30px;
}


.goreport{
    margin-left:20px;
    position:relative;
}
.goreport a {
    background:url(image/button_report.png);
    display:block; /* Necessary, since A is not a block element */
    width:215;
	height:30px;
}


.gomobile{
    margin-left:20px;
    position:relative;
}
.gomobile a {
    background:url(image/button_Mobile_App.png);
    display:block; /* Necessary, since A is not a block element */
    width:215;
	height:30px;
}
