html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background:#333333;
  font-size: small;
  font-family: Arial;
  min-height:720px;
}

#container{
    width:1000px;
    background:#F2F2F2;
    margin-left: auto;
    margin-right: auto;
}

#rightCol{
    width: 300px;
    float: left;
}

#leftCol{
    width: 680px;
    float: left;
	margin-left:20px;
}

#header {
}

#footer {
    clear:both;
}

#map-canvas, #map_canvas {
  width: 600px;
  height: 400px;
  margin-bottom: 50px;
}

.searchmethod {
    overflow: hidden;
}

.searchElement { 
    margin:0 10px 20px 0px;
    float:left;
    display:inline;
    position:relative
}

#address input {
    width:160px
}

#city input {
    width:120px;
}

#state input {
    width:120px;
}

#zipcode input {
    width:120px;
}

#clear {
    clear: both;
}
